/// Variable key for media breakpoints
/// @group 100 - configuration
/// @access public
$breakpoints: (
  'x-small': (
    max-width: 359px
  ),
  'small': (
    max-width: 767px
  ),
  'medium': (
    min-width: 768px
  ),
  'large': (
    min-width: 1280px
  ),
  'x-large': (
    min-width: 1440px
  )
) !default;

/// Responsive layout grid width
/// @group 100 - configuration
/// @access public
/// @type Number
$grid-width: 960px !default;

$ease: cubic-bezier(0.85, 0, 0.25, 1) !default;

$animation-duration: 1s !default;
$animation-init-y: 50px !default;
