@mixin f($font-family, $size: null, $lh: null, $ls: null, $sSize: null) {
  font-family: $font-family, sans-serif;
  font-style: normal;
  font-weight: normal;
  @if ($size) {
    font-size: $size * 1px;
  }
  @if ($lh) {
    line-height: $lh / $size;
  }
  @if ($ls) {
    letter-spacing: $ls * 1px;
  }
  @if ($sSize) {
    @include small {
      font-size: $sSize * 1px;
    }
  }
}
